
<form>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
                <img src="http://www.ifto.edu.br/ifto/ouvidoria/manifestacao-ouvidoria.png" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>Sistema de Ouvidoria</h1>
            <p>O Sistema de Ouvidoria tem como objetivo receber e encaminhar reclamações, denúncias, sugestões e elogios relacionados aos serviços prestados pela instituição de ensino.</p>
            <div class="mt-4">
                    <a asp-area="" asp-controller="Manifestations" asp-action="Index" class="btn-linkbtn-primary mx-5">Nova manifestação</a>
                   
                    <a asp-area="" asp-controller="Login" asp-action="Index" class=" btn-linkbtn-secondary">Consultar manifestação</a>
            </div>
        </div>
    </div>
</div>
</form>

