<div class="container mt-5">
    <h1>Acompanhamento de Manifestações</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Protocolo</th>
                <th scope="col">Manifestação</th>
                <th scope="col">Data de Abertura</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">001</th>
                <td>Reclamação sobre atraso na entrega do produto</td>
                <td>01/03/2023</td>
                <td>Em análise</td>
            </tr>
            <tr>
                <th scope="row">002</th>
                <td>Sugestão para melhorar a qualidade do atendimento</td>
                <td>02/03/2023</td>
                <td>Em andamento</td>
            </tr>
            <tr>
                <th scope="row">003</th>
                <td>Elogio ao atendimento prestado pela empresa</td>
                <td>03/03/2023</td>
                <td>Finalizado</td>
            </tr>
        </tbody>
    </table>

</div>


